@-webkit-keyframes tekst {
  0% {
		font-size: 45px;
	}
  25% {
    font-size: 50px;
    transform: rotate(2deg);
  }
	50% {
		font-size: 45px;
	}
  75% {
    font-size: 50px;
    transform: rotate(-2deg);
  }
  100% {
    font-size: 45px;
  }
}

@-moz-keyframes tekst {
  0% {
		font-size: 45px;
	}
  25% {
    font-size: 50px;
    transform: rotate(2deg);
  }
	50% {
		font-size: 45px;
	}
  75% {
    font-size: 50px;
    transform: rotate(-2deg);
  }
  100% {
    font-size: 45px;
  }
}

@keyframes tekst {
  0% {
		font-size: 45px;
	}
  25% {
    font-size: 50px;
    transform: rotate(2deg);
  }
	50% {
		font-size: 45px;
	}
  75% {
    font-size: 50px;
    transform: rotate(-2deg);
  }
  100% {
    font-size: 45px;
  }
}
